.searchBarGrop{
   
}

.search-1{
    width: 20%;
    height: 30px;
    border: solid grey 2px;
    margin: 10px;
}
.search-2{
    width: 20%;
    height: 30px;
    border: solid grey 2px;
    margin: 10px;
}
.search-3{
    width: 20%;
    height: 30px;
    border: solid grey 2px;
    margin: 10px;
}